version: 1.0.{build}.{branch}

matrix:
  fast_finish: true

environment:
  matrix:

    # Pre-installed Python versions, which AppVeyor may upgrade to
    # a later point release.
    # See: http://www.appveyor.com/docs/installed-software#python

    - PYTHON: "C:\\Python27"
      NOX_SESSION: "interpreters(version='2.7')"

    - PYTHON: "C:\\Python27-x64"
      NOX_SESSION: "interpreters(version='2.7')"

    - PYTHON: "C:\\Python34"
      NOX_SESSION: "interpreters(version='3.4')"

    - PYTHON: "C:\\Python34-x64"
      NOX_SESSION: "interpreters(version='3.4')"

    - PYTHON: "C:\\Python35"
      NOX_SESSION: "interpreters(version='3.5')"

    - PYTHON: "C:\\Python35-x64"
      NOX_SESSION: "interpreters(version='3.5')"

    - PYTHON: "C:\\Python36"
      NOX_SESSION: "interpreters(version='3.6')"

    - PYTHON: "C:\\Python36-x64"
      NOX_SESSION: "interpreters(version='3.6')"

install:
  # Prepend newly installed Python to the PATH of this build (this cannot be
  # done from inside the powershell script as it would require to restart
  # the parent CMD process).
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

  # Check that we have the expected version and architecture for Python
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""

  # Upgrade to the latest version of pip to avoid it displaying warnings
  # about it being out of date.
  - "pip install --disable-pip-version-check --user --upgrade pip"

  # Install the build dependencies of the project. If some dependencies contain
  # compiled extensions and are not provided as pre-built wheel packages,
  # pip will build them from source using the MSVC compiler matching the
  # target Python version and architecture
  - "pip install wheel"

# init:
#   - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

# on_finish:
#   - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

build_script:
  - "pip install ."

test_script:
  # # https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/reg-add
  # - reg.exe add HKEY_CURRENT_USER\Software\Python\PythonCore\3.5-32\PythonPath /ve /t REG_SZ /d C:\Python35\Lib\;C:\Python35\DLLs\ /f
  - C:\Python36-x64\python.exe .\winreg_hack.py
  - C:\Python36-x64\python.exe .\win_env.py
  # - reg.exe query HKEY_CURRENT_USER\Software\Python\PythonCore
  # - reg.exe query HKEY_CURRENT_USER\Software\Python\PythonCore\3.5
  # - reg.exe query HKEY_CURRENT_USER\Software\Python\PythonCore\3.5-32
  # - reg.exe query HKEY_CURRENT_USER\Software\Python\PythonCore\3.6
  # - reg.exe query HKEY_CURRENT_USER\Software\Python\PythonCore\3.6-32
  # - reg.exe query HKEY_LOCAL_MACHINE\Software\Python\PythonCore
  # - reg.exe query HKEY_LOCAL_MACHINE\Software\Wow6432Node\Python\PythonCore
  - py.exe -2.6 -c "import sys; print(sys.version)"
  - py.exe -2.6-32 -c "import sys; print(sys.version)"
  - py.exe -2.7 -c "import sys; print(sys.version)"
  - py.exe -2.7-32 -c "import sys; print(sys.version)"
  - py.exe -3.4 -c "import sys; print(sys.version)"
  - py.exe -3.4-32 -c "import sys; print(sys.version)"
  - py.exe -3.5 -c "import sys; print(sys.version)" || exit 0
  - py.exe -3.5-32 -c "import sys; print(sys.version)" || exit 0
  - py.exe -3.6 -c "import sys; print(sys.version)" || exit 0
  - py.exe -3.6-32 -c "import sys; print(sys.version)" || exit 0
  - py.exe -h
  # Fail on purpose.
  - exit 1
  # Run the project tests
  - "nox.exe --session default"
  - "nox.exe --session \"%NOX_SESSION%\""
