[build-system]
requires = [
    "setuptools>=42",
    "wheel",
]
build-backend = "setuptools.build_meta"

[tool.isort]
profile = "black"

[tool.coverage.run]
branch = true
omit = [
    "nox/_typing.py",
]

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "if _typing.TYPE_CHECKING:",
    "@overload",
]

[tool.mypy]
files = ["nox"]
python_version = "3.7"
warn_unused_configs = true
disallow_any_generics = false
disallow_subclassing_any = false
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_return_any = false
no_implicit_reexport = true
strict_equality = true

[[tool.mypy.overrides]]
module = [ "argcomplete", "colorlog.*", "py", "tox.*" ]
ignore_missing_imports = true

[tool.check-manifest]
ignore = [
    "docs/**",
    "noxfile.py",
    "requirements-conda-test.txt",
    "requirements-dev.txt",
    "requirements-test.txt",
    "*.md",
    ".*",
]
