name: CD
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
  release:
    types: [published]

env:
  FORCE_COLOR: "1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: hynek/build-and-inspect-python-package@v2

  deploy:
    needs: [dist]
    environment:
      name: pypi
      url: https://pypi.org/project/nox
    permissions:
      id-token: write
      attestations: write
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: Packages
          path: dist

      - name: Generate artifact attestation for sdist and wheel
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "dist/*"

      - uses: pypa/gh-action-pypi-publish@release/v1
